1. Import Libary

In [1]:
from datetime import datetime, timedelta, date
import pandas as pd
import pyodbc

2. Import Data Frame From SQL SERVER

In [2]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-MV8RPS5;"
    "DATABASE=Data_Python;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)

In [3]:
df_marketing_campaign = pd.read_sql_query(''' 
SELECT *
  FROM [Data_Topic].[dbo].[1.marketing_campaign]
    ; ''', conn)
df_marketing_campaign

C:\Users\Tran Minh Huy\AppData\Local\Temp\ipykernel_16408\1607654515.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_marketing_campaign = pd.read_sql_query('''

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,False,False,False,False,False,False,3,11,True
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,False,False,False,False,False,False,3,11,False
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,False,False,False,False,False,False,3,11,False
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,False,False,False,False,False,False,3,11,False
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,False,False,False,False,False,False,3,11,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,False,False,False,False,False,False,3,11,False
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,False,False,False,True,False,False,3,11,False
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,False,True,False,False,False,False,3,11,False
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,False,False,False,False,False,False,3,11,False
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,False,False,False,False,False,False,3,11,True

3. CLEARNING DATA PROCESS


3.1 Standardization & Handle Missing Value

In [4]:
## 3.1 Standardization & Handle Missing Value

# 1. Ensure Income is a numeric type and NaN is handled (If Income can be a string/object)
df_marketing_campaign['Income'] = pd.to_numeric(
    df_marketing_campaign['Income'],
    errors='coerce' # Replace non-numeric values ​​with NaN
)

# 2. Replace NaN in Income with mean
df_marketing_campaign['Income'].fillna(df_marketing_campaign['Income'].mean(), inplace=True)

# 3. Remove duplicate rows
df_marketing_campaign.drop_duplicates(inplace=True)

# 4. Remove missing rows in other columns
df_marketing_campaign.dropna(inplace=True)

print(f"Kích thước DataFrame sau khi xử lý NaN và Trùng lặp: {df_marketing_campaign.shape}")
df_marketing_campaign.info()
print(df_marketing_campaign.columns)

Kích thước DataFrame sau khi xử lý NaN và Trùng lặp: (2240, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   bool
 21  AcceptedCmp4         2240 non-null   bool
 22  AcceptedCmp5         2240 non-null   bool
 23  AcceptedCmp1         2240 non-null   bool
 24  AcceptedCmp2         2240 non-null   bool
 25  Complain             2240 non-null   bool
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   bool
dtypes: bool(7), float64(1), int64(18), object(3)
memory usage: 400.4+ KB
Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

C:\Users\Tran Minh Huy\AppData\Local\Temp\ipykernel_16408\3189936655.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_marketing_campaign['Income'].fillna(df_marketing_campaign['Income'].mean(), inplace=True)

In [5]:
df_marketing_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   bool
 21  AcceptedCmp4         2240 non-null   bool
 22  AcceptedCmp5         2240 non-null   bool
 23  AcceptedCmp1         2240 non-null   bool
 24  AcceptedCmp2         2240 non-null   bool
 25  Complain             2240 non-null   bool
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   bool
dtypes: bool(7), float64(1), int64(18), object(3)
memory usage: 400.4+ KB

In [6]:
print(df_marketing_campaign.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

3.2 Remove irrelevant data

In [7]:
df_marketing_campaign.drop(columns=['Z_CostContact', 'Z_Revenue'], inplace=True)

3.3 Standardize capitalization

In [8]:
column_mapping = {
    'ID': 'customer_id',              
    'Year_Birth': 'year_birth',
    'Education': 'education',
    'Marital_Status': 'marital_status',
    'Income': 'income',
    'Kidhome': 'kidhome',
    'Teenhome': 'teenhome',
    'Dt_Customer': 'dt_customer',
    'Recency': 'recency',
    
    # Amount
    'MntWines': 'amount_wines',
    'MntFruits': 'amount_fruits',
    'MntMeatProducts': 'amount_meat_products',
    'MntFishProducts': 'amount_fish_products',
    'MntSweetProducts': 'amount_sweet_products',
    'MntGoldProds': 'amount_gold_prods',
    
    # Number
    'NumDealsPurchases': 'num_deals_purchases',
    'NumWebPurchases': 'num_web_purchases',
    'NumCatalogPurchases': 'num_catalog_purchases',
    'NumStorePurchases': 'num_store_purchases',
    'NumWebVisitsMonth': 'num_web_visits_month',
    
    # Campaign
    'AcceptedCmp3': 'accepted_campaign_3',
    'AcceptedCmp4': 'accepted_campaign_4',
    'AcceptedCmp5': 'accepted_campaign_5',
    'AcceptedCmp1': 'accepted_campaign_1',
    'AcceptedCmp2': 'accepted_campaign_2',
    
    'Complain': 'complain',
    'Z_CostContact': 'z_cost_contact',
    'Z_Revenue': 'z_revenue',
    'Response': 'response'
}

# Apply rename
df_marketing_campaign.rename(columns=column_mapping, inplace=True)

print(df_marketing_campaign.columns)

Index(['customer_id', 'year_birth', 'education', 'marital_status', 'income',
       'kidhome', 'teenhome', 'dt_customer', 'recency', 'amount_wines',
       'amount_fruits', 'amount_meat_products', 'amount_fish_products',
       'amount_sweet_products', 'amount_gold_prods', 'num_deals_purchases',
       'num_web_purchases', 'num_catalog_purchases', 'num_store_purchases',
       'num_web_visits_month', 'accepted_campaign_3', 'accepted_campaign_4',
       'accepted_campaign_5', 'accepted_campaign_1', 'accepted_campaign_2',
       'complain', 'response'],
      dtype='object')

3.4 Convert data type

In [9]:
# Convert dt_customer to datetime
df_marketing_campaign['dt_customer'] = pd.to_datetime(df_marketing_campaign['dt_customer'], format='%d-%m-%Y', errors='coerce')

# Calculate age
current_year = datetime.now().year
df_marketing_campaign['age'] = current_year - df_marketing_campaign['year_birth']

# Customer_tenure
df_marketing_campaign['customer_tenure_days'] = (datetime.now() - df_marketing_campaign['dt_customer']).dt.days

# Biz Sense
df_marketing_campaign = df_marketing_campaign[df_marketing_campaign['age'] < 100]

print(df_marketing_campaign[['year_birth', 'dt_customer', 'age', 'customer_tenure_days']].head())

   year_birth dt_customer  age  customer_tenure_days
0        1957  2012-09-04   68                  4836
1        1954  2014-03-08   71                  4286
2        1965  2013-08-21   60                  4485
3        1984  2014-02-10   41                  4312
4        1981  2014-01-19   44                  4334

3.5 Detect & Remove Outliers Using IQR

In [10]:
# Make sure Income is numeric and does not have NaN values
df_marketing_campaign['income'] = pd.to_numeric(
    df_marketing_campaign['income'], 
    errors='coerce' 
).fillna(df_marketing_campaign['income'].mean()) 

# 1. Calculate Q1, Q3, and IQR
Q1 = df_marketing_campaign['income'].quantile(0.25)
Q3 = df_marketing_campaign['income'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# 2. Identify outliers
outliers_iqr = df_marketing_campaign[(df_marketing_campaign['income'] < lower_bound) | (df_marketing_campaign['income'] > upper_bound)]
print(f"Outliers using IQR method (income): {outliers_iqr.shape[0]} rows found.")
# print(outliers_iqr[['ID', 'Income']]) 

# 3. Remove outliers
df_marketing_campaign = df_marketing_campaign[(df_marketing_campaign['income'] >= lower_bound) & (df_marketing_campaign['income'] <= upper_bound)]
print("\nDataFrame after removing outliers (IQR method):")
print(df_marketing_campaign.shape)

Outliers using IQR method (income): 8 rows found.

DataFrame after removing outliers (IQR method):
(2229, 29)

C:\Users\Tran Minh Huy\AppData\Local\Temp\ipykernel_16408\1458863695.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_marketing_campaign['income'] = pd.to_numeric(

In [11]:
df_marketing_campaign.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2229 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            2229 non-null   int64
 1   year_birth             2229 non-null   int64
 2   education              2229 non-null   object
 3   marital_status         2229 non-null   object
 4   income                 2229 non-null   float64
 5   kidhome                2229 non-null   int64
 6   teenhome               2229 non-null   int64
 7   dt_customer            2229 non-null   datetime64[ns]
 8   recency                2229 non-null   int64
 9   amount_wines           2229 non-null   int64
 10  amount_fruits          2229 non-null   int64
 11  amount_meat_products   2229 non-null   int64
 12  amount_fish_products   2229 non-null   int64
 13  amount_sweet_products  2229 non-null   int64
 14  amount_gold_prods      2229 non-null   int64
 15  num_deals_purchases    2229 non-null   int64
 16  num_web_purchases      2229 non-null   int64
 17  num_catalog_purchases  2229 non-null   int64
 18  num_store_purchases    2229 non-null   int64
 19  num_web_visits_month   2229 non-null   int64
 20  accepted_campaign_3    2229 non-null   bool
 21  accepted_campaign_4    2229 non-null   bool
 22  accepted_campaign_5    2229 non-null   bool
 23  accepted_campaign_1    2229 non-null   bool
 24  accepted_campaign_2    2229 non-null   bool
 25  complain               2229 non-null   bool
 26  response               2229 non-null   bool
 27  age                    2229 non-null   int64
 28  customer_tenure_days   2229 non-null   int64
dtypes: bool(7), datetime64[ns](1), float64(1), int64(18), object(2)
memory usage: 415.8+ KB

4. Save Clear Data Into Database To Visiualization ti

In [12]:
import pyodbc

# --- Connect ---
conn = pyodbc.connect(
        "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-MV8RPS5;"
    "DATABASE=Data_Topic;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)
cursor = conn.cursor()

# --- Map pandas dtype -> SQL Server type ---
dtype_map = lambda dt: "INT" if pd.api.types.is_integer_dtype(dt) else \
                       "FLOAT" if pd.api.types.is_float_dtype(dt) else \
                       "BIT" if pd.api.types.is_bool_dtype(dt) else \
                       "DATETIME" if pd.api.types.is_datetime64_any_dtype(dt) else \
                       "VARCHAR(255)"

table_name = "data_clean_maketing_campaign"

# --- Drop + Create table ---
cursor.execute(f"IF OBJECT_ID('dbo.{table_name}', 'U') IS NOT NULL DROP TABLE dbo.{table_name}")
cols = ", ".join([f"[{c}] {dtype_map(df_marketing_campaign[c].dtype)}" for c in df_marketing_campaign.columns])
cursor.execute(f"CREATE TABLE dbo.{table_name} ({cols})")

# --- Insert rows ---
cursor.fast_executemany = True
cursor.executemany(f"INSERT INTO dbo.{table_name} VALUES ({','.join(['?']*len(df_marketing_campaign.columns))})", df_marketing_campaign.values.tolist())
conn.commit()

In [17]:
# Assume you are working with the last cleaned DataFrame
# and the age column has been renamed to 'age'

min_age = df_marketing_campaign['age'].min()
max_age = df_marketing_campaign['age'].max()

print(f"Min Age: {min_age} tuổi")
print(f"Max Age: {max_age} tuổi")

Min Age: 29 tuổi
Max Age: 85 tuổi